@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Manrope:wght@200..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}
/* Top Header  */
.top-header {
  width: 100%;
  height: 4rem;
  background: url(images/header_top_background.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-header .top-header-text {
  color: #301f4a;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2rem;
  font-family: "Manrope";
  text-align: center;
}

/* Main Header  */
.main-header {
  width: 100%;
  height: 8rem;
  background-color: #fff;
}
.main-header .header-logo {
  height: 6rem;
}
.header-middle .header-search span {
  background-color: #fa5c98;
  color: #fff;
  height: 6rem;
  font-size: 1rem;
}
.main-header .header-search input {
  border-right: none;
  height: 6rem;
}
.main-header .header-search span .fa-search {
  border: 1px solid #ced4da;
  border-left: none;
  height: 6rem;
  color: #0e276933;
  width: 4rem;
  background-color: white;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-header .header-search .input-group-text i {
  font-size: 2rem;
}
.main-header .header-search .input-group input {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8rem;
}
.main-header .user {
  height: 6rem;
  & p {
    font-size: 1.2rem;
    font-family: "poppins";
    line-height: 1.9rem;
    font-weight: 600;
  }
}

.main-header .user span i {
  height: 2.4rem;
  width: 2.4rem;
  background-color: #fa5c98;
  border-radius: 50%;
  color: white;
  font-size: 1rem;
}
.user .fa-user-alt {
  padding: 0.7rem;
}
.fa-shopping-cart {
  font-size: 1.8rem;
  padding-right: 1.4rem;
}

.bottom-header {
  text-align: center;
  display: flex;
  justify-content: center;
}

.nav-item .nav-link {
  margin: 1.2rem;
}

.header-navbar ul li a {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.5rem;
  font-family: "poppins";
  color: #000;
  z-index: 9999;
}

.header-navbar .navbar-toggler span {
  border: 2px solid black;
  color: green;
}

.header-navbar ul li a:hover {
  color: #fa5c98;
}

.header-navbar ul li a:focus {
  color: #fa5c98;
}

.navbar-toggler:focus {
  outline: unset;
  border: unset;
  box-shadow: none;
}
.header-navbar ul li a:focus {
  color: #fa5c98;
  background-color: transparent;
}
.header-navbar {
  width: 100%;
  height: 8rem;
}
.navbar-toggler-icon {
  font-size: 1.8rem;
}

/* Banner Section  */
.banner-section {
  width: 100%;
  height: 50vh;
  background: #ffdfee8a;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-section .carousel-item img {
  width: 26rem;
  margin: auto;
}
.banner-section .carousel-item .banner-img{
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-section .carousel-item p {
  font-family: "Poppins";
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 5.8rem;
}
.banner-section {
  width: 100%;
  height: 36rem;
  background: #ffdfee8a;
}
.banner-section .carousel-inner {
  width: 80%;
}

.banner-section .banner-content p {
  font-family: "Poppins";
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 5.8rem;
}
.grid {
  display: grid;
}
.grid-two-cols {
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 1.4rem;
}

.banner-section .slider-icon {
  background: #ffffffb0;
  font-size: 1rem;
  font-weight: 600;
  color: #fa5c98;
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
} 

/* Product Section  */
.product-section h2 {
  font-size: 2rem;
  line-height: 3rem;
  font-family: "poppins";
  font-weight: 700;
}
.product-section .card-body h4 {
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  font-family: "poppins";
  line-height: 2.4rem;
}

.product-section .card-body h5 {
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "poppins";
  text-align: center;
  color: #fa5c98;
  cursor: pointer;
  line-height: 2.4rem;
}

/* About Section  */
.about-section {
  background-color: #fff2f8;
  padding: 4rem 0;
}
.common-heading h1 {
  font-size: 4.6rem;
  font-weight: 800;
  font-family: "poppins";
  line-height: 6.8rem;
}
.about-section p {
  font-size: 1.3rem;
  line-height: 3rem;
  font-weight: 400;
  font-family: "poppins";
}

/* blog section  */
.container-blog img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== CARD ===============*/
.container-blog {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.container-blog .card__container {
  padding-block: 5rem;
}

.container-blog .card__content {
  /* margin-inline: 1.75rem; */
  border-radius: 1.25rem;
  overflow: hidden;
}

.container-blog .card__article {
  border-radius: 1.25rem;
  overflow: hidden;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

.container-blog .card__image {
  position: relative;
  padding: 1rem;
}

.container-blog .card__data {
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  text-align: center;
  position: relative;
  z-index: 10;
}

.container-blog .card__img {
  width: 350px;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}

.container-blog .card__data h3 {
  font-size: 1.8rem;
  line-height: 2.7rem;
  font-weight: 700;
  color: #000000;
  font-family: "Poppins";
}

.container-blog .card__data p {
  font-weight: 400;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  font-family: "Poppins";
  width: 350px;
  margin: auto;
  margin-bottom: 10px;
}

.container-blog .card__button {
  display: inline-block;
  background: linear-gradient(
    90deg,
    #dc8064 -11.11%,
    #e98c70 6.02%,
    #fb9e82 23.14%,
    #fdbb9f 48.17%,
    #ffcaae 63.98%,
    #f8ad92 78.48%,
    #f19176 95.6%
  );
  padding: 1rem 1.5rem;
  border-radius: 0.25rem;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #fff;
  font-weight: 600;
  font-family: "Roboto";
  border-radius: 0.7rem;
  border: none;
}

.container-blog .card-date a {
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 500;
  font-family: "Roboto";
  text-decoration: none;
  color: #b9b9b9;
  text-align: start;
  margin-top: 5px;
}

.container-blog .card__container .swiper-button-next {
  margin-right: 15px;
}
.container-blog .card__container .swiper-button-prev {
  margin-left: 15px;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 1.8rem;
  color: #fa5c98;
  font-weight: 600;
}
.container-blog .card__container .swiper-button-next,
.swiper-button-prev {
  background-color: #fa5c9821;
  height: 3.4rem;
  width: 3.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-blog .card__container .swiper-button-prev {
  background-color: #fa5c9821;
  height: 3.4rem;
  width: 3.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Lets Connect  */
.connect-section .connect-inputs input {
  width: 80%;
  border: none;
  outline: none;
  box-shadow: 2px 6px 13px 4px #bebebe33;
  border: 0.2rem solid #bebebe33;
  padding: 1.2rem;
  border-radius: 0.8rem;
}
.connect-section .connect-inputs input::placeholder {
  color: #888888;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
}
.connect-section .connect-inputs i {
  font-size: 2rem;
  color: #fa5c98;
}
textarea {
  width: 80%;
  border: none;
  outline: none;
  border: 0.2rem solid #bebebe33;
  height: 8rem;
  margin-left: 3rem;
  box-shadow: 2px 6px 13px 4px #bebebe33;
  padding: 2rem;
  border-radius: 0.8rem;
}

.connect-section .connect-image img {
  width: 100%;
}

/* Footer css  */
.footer {
  background-color: #fa5c98;
  margin-top: 4.8rem;
  padding: 4rem 0;
}

.footer .footer-panel1 p {
  color: #fff;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 2.8rem;
}
.footer .footer-panel1 p i {
  font-size: 2.4rem;
}
.footer-panel1 {
  border-bottom: 1px solid #fff;
  padding: 3.2rem 0px;
}
.footer .input-group input {
  padding: 1rem 2rem;
  border-radius: 0.8rem;
}
.footer .input-group input::placeholder {
  color: #cdcdcd;
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-family: "poppins";
  font-weight: 400;
  padding-top: 1.4rem;
}
.footer .input-group button {
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 0.8rem;
}

.footer .footer-panel2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 3.4rem 0px;
}

.footer-panel2 ul p {
  color: #fff;
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.4rem;
  font-family: "Roboto";
}
.footer-panel2 ul a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: 400;
  display: block;
  font-family: "Roboto";
  padding: 0.5rem 0;
}
.footer-panel2 .footer-media {
  display: flex;
}

.footer-panel2 .footer-media i {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fb87b3;
  width: 3rem;
  height: 3rem;
  font-size: 1.8rem;
  /* line-height: 1.5rem; */
  border-radius: 50%;
}

/* Product Section Css  */

.product-category .price p {
  font-size: 1.6rem;
  font-family: "poppins";
  font-weight: 500;
  line-height: 2.4rem;
  color: #c1c1c1;
}

.product-category .dropdown-btn {
  display: flex;
}

.product-category .dropdown-btn .dropdown button {
  color: #c1c1c1;
  border: 0.2rem solid #c1c1c1;
  border-radius: 2rem;
  font-size: 1.4rem;
  outline: none;
  font-family: "poppins";
  line-height: 2rem;
  font-weight: 500;
}
.product-category .dropdown-btn ul li a {
  font-size: 1.4rem;
  color: #c1c1c1;
  font-family: "poppins";
  line-height: 2rem;
  font-weight: 500;
}
.product-category .product-card .box .card-body h4 {
  font-size: 1.6rem;
  font-weight: 600;
  color: #fa5c98;
  font-family: "poppins";
  line-height: 2.4rem;
}

.product-category .product-card .box .card-body h5 {
  color: #000000;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1rem;
  font-family: "poppins";
}

.product-category .product-card .box .card-body .fa-star {
  color: #ffbb0e;
  font-size: 1.6rem;
}
.product-category .product-card .box .card-body h6 {
  color: #c0590e;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 600;
  font-family: "poppins";
}
.product-category .pagination {
  font-size: 2rem;
}
.page-item:first-child .page-link {
  border-radius: 50%;
  height: 4.2rem;
  width: 4.2rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 600;
  font-family: "poppins";
  color: #ffffff;
  padding-left: 1.7rem;
  padding-top: 0.8rem;
  background-color: #fa5c98;
}

.page-item:nth-child(2) .page-link,
.page-item:nth-child(3) .page-link {
  border-radius: 50%;
  height: 4.2rem;
  width: 4.2rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 600;
  font-family: "poppins";
  color: black;
  padding-left: 1.7rem;
  padding-top: 0.8rem;
}
.page-item:nth-child(4) .page-link {
  height: 4.2rem;
  width: 4.2rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 600;
  font-family: "poppins";
  color: black;
  padding-left: 1.7rem;
  padding-top: 0.8rem;
}
.page-item:nth-child(4) .page-link {
  width: 8rem;
  padding-left: 1.7rem;
  padding-top: 0.8rem;
}
@media (width < 992px) {
  * {
    font-size: 56%;
  }
  .banner-section {
    height: 42rem;
  }
  .header-logo {
    margin-bottom: 1rem;
  }
  .header-navbar .navbar-toggler-icon {
    padding-top: 7rem;
  }
  .bottom-header {
    background-color: #fff;
    z-index: 9999;
    border-radius: 1.2rem;
    margin-top: 2rem;
  }
  .about-section .pink-img {
    padding: 2.4rem 0;
    text-align: center;
  }
  .banner-section .banner-content p{
    font-size: 4rem;
  }
  .grid-two-cols .banner-content p {
    line-height: 4.8rem;
  }
}
@media (width < 597px){
  .banner-carousel-div{
    width: 450px;
  }
  .grid-two-cols {
    & .banner-content p {
      line-height: 4.2rem;
      padding-top: 2rem;
    }
  }

}

@media (width < 768px) {
  .grid-two-cols {
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    & .banner-img {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }
    & .banner-content p {
      text-align: center;
      font-size: 3.4rem;
    }
  } 
  
  .banner-section {
    height: 60rem;
  }
  .carousel-indicators {
    bottom: -10%;
  }
  .connect-inputs {
    padding: 4rem;
  }
  .connect-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer .input-group {
    width: 60%;
    margin-top: 2rem;
  }
}
@media (width < 576px) {
  .product-section .ps-4 h2 {
    text-align: center;
  }
  .product-section .card img {
    width: 65%;
    margin: auto;
  }
  .common-heading h1 {
    font-size: 3.2rem;
  }

  
}
@media (width < 505px) {
  .footer .footer-panel2,
  .footer .footer-panel1 {
    display: block;
    text-align: center;
  }
  .footer .footer-panel1 .input-group-div {
    display: flex;
    justify-content: center;
  }
  .footer .footer-panel2 .footer-media {
    justify-content: center;
  }
  .common-heading h1 {
    text-align: center;
  }
}
@media (width < 630px) {
  .container-blog .card__data p {
    width: 100%;
  }
}
@media (width < 482px) {
  .banner-section .carousel-indicators {
    bottom: -5%;
  }
}
@media (width < 467px){
  .grid-two-cols {
    & .banner-content p {
      font-size: 2.4rem;
      line-height: 3.2rem;
      padding-top: 2rem;
    }
  }
  .banner-carousel-div{
    width: 340px;
  }
} 

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .container-blog .card__data {
    padding: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .container-blog .card__content {
    margin-inline: 3rem;
  }

  .container-blog .swiper-button-next,
  .swiper-button-prev {
    display: block;
  }
}
@media screen and (width < 920px) {
  
  .container-blog .card__content {
    width: 60%;
    margin: auto;
  }
}

/* For large devices */
@media screen and (min-width: 1120px) {
  .container-blog .card__container {
    max-width: 1400px;
  }

  .container-blog .swiper-button-prev {
    left: -1rem;
  }
  .container-blog .swiper-button-next {
    right: -1rem;
  }
}
